[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    __init__.py,
    .mypy_cache,
    .pytest_cache
extend-ignore =
# E203: whitespace before ':'
    E203,
# E501: line too long
    E501,
